# Este # um Gemfile como # Basic # # Gitub Pages # Detalhes em https: //github.com/github/pages-gem/issues/768
(HTML)
cabeça
     <title>Redirecionando...</title> 
     <!-- Redireciona para a notícia após 5 segundos --> 
 (meta http-equiv= "refresh" content="5; url=https: //olhardigital.com.br/2024/12/10/pro/google-oferece-cursos-de-graca-para-voce-fazer-no-fim-de-ano/"> 
</cabeça
corpo:
 (script) 
         // Primeiro, redireciona para o anúncio da Adsterra 
         window.location.href = "https://www.profitablecpmrate.com/ijhkc24rqe?key=5a1a34e397639dc477f6677c86ebbdcd"; 
 </script 
     <!-- Mensagem visível enquanto o redirecionamento ocorre --> 
     <p style="text-align: center; font-family: Arial, sans-serif;"> 
         Estamos carregando sua notícia... Por favor, aguarde alguns segundos. 😊 
 (p/p) 
/corpo:
</html.
